@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">For security purposes, this account has been temporarily locked. 
        Please contact your system administrator for immediate assistance in restoring access.</p>
</header>
